#finder
  .title
    .left-placeholder
    .center FileManager
    .right-placeholder
  .content
  .foot
    .left-placeholder
    .center No files and folders in current directory.
    .right-placeholder
  .framework
    .corner.top-left
    .corner.top-right
    .corner.bottom-left
    .corner.bottom-right
    .repeat-x-top
    .repeat-x-bottom
    .repeat-y-left
    .repeat-y-right
