#finder
  .title
    .left-placeholder
    #title.center FileManager
    .right-placeholder
  .content
    .left-placeholder
    .center
      .vtable
        .top-placeholder
        #columns_container.vcenter
          #columns{ data: { list_files_path: list_files_path } }
            %ul.columns
              - @ls_paths.each do |ls_path|
                %li
                  %ul.column{ data: { ls_path: ls_path } }
                    %li
        .bottom-placeholder
    .right-placeholder
  .foot
    .left-placeholder
    .center No files and folders in current directory.
    .right-placeholder
  .framework
    .corner.top-left
    .corner.top-right
    .corner.bottom-left
    .corner.bottom-right
    .repeat-x-top
    .repeat-x-bottom
    .repeat-y-left
    .repeat-y-right
