#finder
  .finder
    .r1
      .top
        .left
        .center
          .title_container
            #title FileManager
        .right
    .r2
      .middle
        .left
        #columns_container.center
          #columns{ data: { list_files_path: list_files_path } }
            %ul.columns
              - @ls_paths.each do |ls_path|
                %li
                  %ul.column{ data: { ls_path: ls_path } }
                    %li
        .right
    .r3
      .bottom
        .left
        .center
          .footer_container
            #footer No files and folders in current directory.
        .right
  .framework
    .r1
      .top
        .left
        .center
        .right
    .r2
      .middle
        .left
        .center
        .right
    .r3
      .bottom
        .left
        .center
        .right
#context_menu
  .menu
    .left
    %ul#menu
      %li.bottom-separator
        %a{ id: 'menu_download', href: '#' } Open
      %li.bottom-separator
        %a{ id: 'menu_delete', href: "#" } Delete
      %li
        %a{ id: 'menu_get_info', href: "#" } Get Info
      %li
        %a{ id: 'menu_rename', href: "#" } Rename
    .right
  .framework
    .r1
      .top
        .left
        .center
        .right
    .r2
      .middle
        .left
        .center
        .right
    .r3
      .bottom
        .left
        .center
        .right
