#finder
  .finder
    .r1
      .top
        .left
        .center
          .title_container
            #title FileManager
        .right
    .r2
      .middle
        .left
        #columns_container.center
          #columns{ data: { list_files_path: list_files_path } }
            %ul.columns
              - @ls_paths.each do |ls_path|
                %li
                  %ul.column{ data: { ls_path: ls_path } }
                    %li
        .right
    .r3
      .bottom
        .left
        .center
          .footer_container
            #footer No files and folders in current directory.
        .right
  .framework
    .r1
      .top
        .left
        .center
        .right
    .r2
      .middle
        .left
        .center
        .right
    .r3
      .bottom
        .left
        .center
        .right
#context_menu
  .menu
    .left
    %ul#menu
      %li
        %a{ href: '#' } Menu
    .right
  .framework
    .r1
      .top
        .left
        .center
        .right
    .r2
      .middle
        .left
        .center
        .right
    .r3
      .bottom
        .left
        .center
        .right
:javascript
  window.routes = {
    remove_files_path: '#{remove_files_path(':path')}'
  };
