#finder
  .title
    .left-placeholder
    .center FileManager
    .right-placeholder
  .content
    .left-placeholder
    .center
      .vtable
        .top-placeholder
        .vcenter
          %ul#columns
            %li
              %ul.column
                %li
                  %a{ href: '/' } link
        .bottom-placeholder
    .right-placeholder
  .foot
    .left-placeholder
    .center No files and folders in current directory.
    .right-placeholder
  .framework
    .corner.top-left
    .corner.top-right
    .corner.bottom-left
    .corner.bottom-right
    .repeat-x-top
    .repeat-x-bottom
    .repeat-y-left
    .repeat-y-right
