$min: 300px;

html {
  height: 100%;
}

body {
  height: 100%;
  min-width: $min;
  min-height: $min;
  overflow: hidden;
}

#finder {
  width: 100%;
  height: 100%;
  position: relative;
  .framework {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    .corner {
      position: absolute;
      z-index: 10;
      width: 150px;
      height: 150px;
      background: #fff url(/assets/finder_sprites.png) no-repeat 0 0;
    }
    .top-left {
      top: 0;
      left: 0;
      background-position: 0 0;
    }
    .top-right {
      top: 0;
      right: 0;
      background-position: -150px 0;
    }
    .bottom-left {
      bottom: 0;
      left: 0;
      background-position: 0 -150px;
    }
    .bottom-right {
      bottom: 0;
      right: 0;
      background-position: -150px -150px;
    }
    .repeat-x-top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 150px;
      background: url(/assets/finder_x_repeat_top.png) repeat-x;
    }
    .repeat-x-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 150px;
      background: url(/assets/finder_x_repeat_bottom.png) repeat-x;
    }
    .repeat-y-left {
      position: absolute;
      top: 0;
      left: 0;
      width: 150px;
      height: 100%;
      background: url(/assets/finder_y_repeat_left.png) repeat-y;
    }
    .repeat-y-right {
      position: absolute;
      top: 0;
      right: 0;
      width: 150px;
      height: 100%;
      background: url(/assets/finder_y_repeat_right.png) repeat-y;
    }
  }
  .left-placeholder, .right-placeholder {
    display: table-cell;
    width: 60px;
  }
  .title {
    display: table;
    table-layout: fixed;
    position: absolute;
    z-index: 20;
    top: 38px;
    width: 100%;
    .left-placeholder, .right-placeholder {
      width: 125px;
    }
    .center {
      display: table-cell;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: center;
      font-family: Lucida Grande;
      font-size: 13px;
      text-shadow: 0 1px #DBDBDB;
    }
  }
  .foot {
    display: table;
    table-layout: fixed;
    position: absolute;
    z-index: 20;
    bottom: 83px;
    width: 100%;
    .center {
      display: table-cell;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: center;
      font-family: Lucida Grande;
      font-size: 12px;
      text-shadow: 0 1px #DBDBDB;
    }
  }
  .content {
    display: table;
    table-layout: fixed;
    position: absolute;
    z-index: 18;
    height: 100%;
    width: 100%;
    .left-placeholder, .right-placeholder {
      width: 57px;
    }
    .center {
      display: table-cell;
      width: 100%;
      height: 100%;
      font-family: Lucida Grande;
      font-size: 14px;
      box-sizing:border-box;
    }
    .vtable {
      display: table;
      width: 100%;
      height: 100%;
      .top-placeholder {
        display: table-row;
        height: 78px;
      }
      .bottom-placeholder {
        display: table-row;
        height: 103px;
      }
      .vcenter {
        display: table-row;
      }
    }
  }
}

#columns {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  ul.columns {
    height: 100%;
    list-style: none;
    > li {
      overflow: auto;
      width: 180px;
      border-right: 1px solid #E0E0E0;
    }
  }
  ul.column {
    list-style: none;
    > li {
      display: block;
    }
  }
}

a.file {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 13px;
  cursor: default;
  padding: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  span.icon {
    float: left;
    display: block;
    width: 16px;
    height: 16px;
    background: url(/assets/icons.png) no-repeat 0 0;
    margin: -2px 6px -1px 2px;
  }
  &.active {
    background: #3970d6;
    color: #fff;
  }
}

a.not_dir {
  span.icon {
    background-position: 0 -16px;
  }
}
